/* Navbar */
.navbar{
    background-color: white;
    height: 6rem;
    position: fixed;
    width: 100%;
    
}

.navbar img{
    height: 80px;
}

#navbarSupportedContent{
    font-weight: bolder;
    color: black;
}

#navbarSupportedContent ul li a{
    color: black;
}


#navbarSupportedContent ul li a:hover{
    color: orangered;
    text-decoration: underline 3px;
}

#icons:hover{
    color: orangered;
}

#user{
    font-size: 25px;
}
/* Navbar */



/* Jumbotron */
.jumbotron img{
    width: 100%; 
    overflow: auto;
}
/* Jumbotron */

/* content */

.content{
    background-image: url('asset/second-hero-desktop.png');
    background-size: cover;
    height: 100vh;
    margin-top: -10px;
}

.content h3{
    color: #20b9f5;
    font-weight: bolder;
}

.content h5{
    color: white;
    font-weight: bolder;
}

#emailform{
    border-radius: 0px;
    height: 45px;
}

#inputdate{
    border-radius: 0px;
    height: 45px;
    font-weight: bolder;
}

#listbutton{
    background-color: #20b9f5;
    color: black;
    font-weight: bold;
    border-radius: 0px;
    width: 200px;
    height: 50px;
    border: 2px solid;
    
}

#listbutton:hover{
    background-color: orangered;
    color: white;
    border: 1px solid;
    border-color: black;
}

.line{
    width: 700px;
    height: 5px;
    background: linear-gradient(
        to bottom,
        transparent 2px,
        #20b9f5 2px,
        #20b9f5 25px,
        transparent 3px
    );
    
}

#iconscontent{
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
}

#iconscontent:hover{
    color: orangered;
}

/* content */

/* blue image */

#blueimage{
    background-size: cover;
    width: 100%; 
    overflow: auto;
    margin-top: -10px;
}



/* blue image */


/* content 2 */

.content2{
    background-image: url('asset/fanta-background.png');
    height: 100vh;
    background-size: cover;
}

.content2 .carousel-inner{
    justify-content: center;
}

.content2 .container .row .col{
    display: flex;
    justify-content:center ;
    align-items: center;
    color: black;
}

#exploreflavor{
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 0px;
    width: 200px;
    height: 50px;

}
#exploreflavor:hover{
    background-color: orangered;
}
/* content 2 */

/* modal */

#shopnow{
    border-radius: 0px;
}

/* modal */